@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

/* Font family */
body {
  font-family: Arial, sans-serif;
}

/* Background and text colors */
body {
  background-color: #333;
  color: #fff;
}

/* Header */
header {
  background-color: #007f5f;
  color: #FFF;
  padding: 1rem;
}

/* Navigation links */
nav {
  background-color: #2ecc71;
  color: #FFF;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 1rem;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #FFF;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Main content */
main {
  margin: 2rem auto;
  max-width: 800px;
}

/* Buttons */
button {
  background-color: #2ecc71;
  color: #FFF;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  background-color: #007f5f;
}

/* Forms */
form label {
  display: block;
  margin-bottom: 0.5rem;
  color: #fff;
}

form input[type="text"],
form input[type="email"] {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  background-color: #fff;
  color: #333;
}

form input[type="submit"] {
  background-color: #2ecc71;
  color: #FFF;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #007f5f;
}

/* Homepage styles */
.homepage {
  text-align: center;
  margin-top: 2rem;
}

.homepage-title {
  color: #2ecc71;
}

.homepage-subtitle {
  color: #fff;
}

/* Topbar styling */

.top-bar {
  background-color: #2ecc71;
  color: #fff;
  border-bottom: 2px solid #ccc;
}

.top-bar .menu {
  background-color: #2ecc71;
}

.top-bar-left {
  background-color: #2ecc71;
}

.top-bar-left .menu li a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.top-bar-left .menu li a:hover {
  color: #007f5f;
}

.top-bar-left .menu .menu-text {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.top-bar-right .menu li a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.top-bar-right .menu li a:hover {
  color: #007f5f;
}

.menu-icon {
  color: #fff;
}

.menu-icon:hover {
  color: #007f5f;
}


/////User Tile

.user-tile {
  background-color: white;
  padding: 10px;
  margin: 10px;
  color: green;
  border: 2px solid blue;
}

//// Result Tile

.result-tile {
  background-color: white;
  padding: 10px;
  margin: 10px;
  color: green;
  border: 2px solid blue;
}

// Users and Results

.results-main {
  display: flex;
}

.result-list-container {
  flex-grow: 1;
  padding-right: 140px;
  padding-left: 140px;
}

.user-tiles-container {
  flex-grow: 1;
  padding-left: 140px;
  padding-right: 140px
}

// Map Search Bar 

.map-search-container {
  max-width: 500px; /* Adjust the value as needed */
  margin: 0 auto; /* Center the container horizontally */
}




@media only screen and (max-width: 39.9375em) {
  .top-bar {
    background-color: #2ecc71;
    color: #333;

  }
}



///////////////////////////////


*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}